# Ambiente virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyTorch / modelos
*.pth
*.pt
*.onnx

# Resultados e logs
results/
logs/
predictions/
*.log
*.csv
*.jsonl

# Dados
dataset*/
data*/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
